<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex; justify-content:center;  ">
  <a class="navbar-brand" [routerLink]="['todo']">Todos</a>
  <a class="navbar-brand" [routerLink]="['compte']">Compte</a>
</nav>
<hr>
<div>

  <form class="needs-validation">
    <div class="form-group">
      <label for="title">title</label>
      <input class="form-control" type="text" id="title" name="title" [(ngModel)]="todo.title" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control" type="text" id="description" name="description" [(ngModel)]="todo.description">
    </div>
    <div class="form-group">
      <label for="name">date</label>
      <input class="form-control" type="date" id="date" name="date" [(ngModel)]="todo.date">
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="actif">
      <label class="form-check-label" for="actif">Actif</label>
    </div>
    <button type="submit" class="btn btn-primary btn-bloc" (click)="saveTodo()"> Ajouter</button>
  </form>
  <hr>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">name</th>
        <th scope="col"> actif</th>
        <th scope="col"> action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of pageContent">
        <td>{{todo.title}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.actif}}</td>
        <td>
          <button type="submit" (click)="deleteTodo(todo.id)" class=" btn btn-danger fa fa-trash-o"></button>
        </td>

      </tr>

    </tbody>
  </table>


</div>